<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-android-fingerprint-auth"
        version="1.2.8">
    <name>FingerprintAuth</name>
    <description>Cordova plugin to use Android fingerprint authentication API</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,android,fingerprint,authentication</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/FingerprintAuth.js" name="FingerprintAuth">
        <clobbers target="FingerprintAuth" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FingerprintAuth" >
                <param name="android-package" value="com.cordova.plugin.android.fingerprintauth.FingerprintAuth"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
        </config-file>

        <source-file src="src/android/FingerprintAuth.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintAuthenticationDialogFragment.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintUiHelper.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="res/android/drawable/ic_fingerprint_error.xml" target-dir="res/drawable" />
        <source-file src="res/android/drawable/ic_fingerprint_success.xml" target-dir="res/drawable" />
        <source-file src="res/android/drawable-hdpi/ic_fp_40px.png" target-dir="res/drawable-hdpi" />
        <source-file src="res/android/drawable-mdpi/ic_fp_40px.png" target-dir="res/drawable-mdpi" />
        <source-file src="res/android/drawable-nodpi/android_robot.png" target-dir="res/drawable-nodpi" />
        <source-file src="res/android/drawable-xhdpi/ic_fp_40px.png" target-dir="res/drawable-xhdpi" />
        <source-file src="res/android/drawable-xxhdpi/ic_fp_40px.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="res/android/drawable-xxxhdpi/ic_fp_40px.png" target-dir="res/drawable-xxxhdpi" />
        <source-file src="res/android/layout/fingerprint_dialog_container.xml" target-dir="res/layout" />
        <source-file src="res/android/layout/fingerprint_dialog_content.xml" target-dir="res/layout" />
        <source-file src="res/android/values/fpauth-colors.xml" target-dir="res/values" />
        <source-file src="res/android/values/fpauth-strings.xml" target-dir="res/values" />
        <source-file src="res/android/values-it" target-dir="res" />
        <source-file src="res/android/values-es" target-dir="res" />
        <source-file src="res/android/values-ru" target-dir="res" />
        <source-file src="res/android/values-fr" target-dir="res" />
        <source-file src="res/android/values-zh" target-dir="res" />
        <source-file src="res/android/values-zh-rCN" target-dir="res" />
        <source-file src="res/android/values-zh-rHK" target-dir="res" />
        <source-file src="res/android/values-zh-rMO" target-dir="res" />
        <source-file src="res/android/values-zh-rSG" target-dir="res" />
        <source-file src="res/android/values-zh-rTW" target-dir="res" />
        <source-file src="res/android/values-no" target-dir="res" />
        <source-file src="res/android/values-pt" target-dir="res" />
        <source-file src="res/android/values-ja" target-dir="res" />
        <source-file src="res/android/values-de" target-dir="res" />

    </platform>

</plugin>
