<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-android-fingerprint-auth"
        version="1.5.0">
    <name>FingerprintAuth</name>
    <description>Cordova plugin to use Android fingerprint authentication API</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,android,fingerprint,authentication</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/FingerprintAuth.js" name="FingerprintAuth">
        <clobbers target="FingerprintAuth" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FingerprintAuth" >
                <param name="android-package" value="com.cordova.plugin.android.fingerprintauth.FingerprintAuth"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
        </config-file>

        <source-file src="src/android/FingerprintAuth.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintAuthenticationDialogFragment.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintUiHelper.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <resource-file src="res/android/drawable/ic_fingerprint_error.xml" target="res/drawable/ic_fingerprint_error.xml" />
        <resource-file src="res/android/drawable/ic_fingerprint_success.xml" target="res/drawable/ic_fingerprint_success.xml" />
        <resource-file src="res/android/drawable-hdpi/ic_fp_40px.png" target="res/drawable-hdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-mdpi/ic_fp_40px.png" target="res/drawable-mdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-nodpi/android_robot.png" target="res/drawable-nodpi/android_robot.png" />
        <resource-file src="res/android/drawable-xhdpi/ic_fp_40px.png" target="res/drawable-xhdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-xxhdpi/ic_fp_40px.png" target="res/drawable-xxhdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-xxxhdpi/ic_fp_40px.png" target="res/drawable-xxxhdpi/ic_fp_40px.png" />
        <resource-file src="res/android/layout/fingerprint_dialog_container.xml" target="res/layout/fingerprint_dialog_container.xml" />
        <resource-file src="res/android/layout/fingerprint_dialog_content.xml" target="res/layout/fingerprint_dialog_content.xml" />
        <resource-file src="res/android/values/fpauth-colors.xml" target="res/values/fpauth-colors.xml" />
        <resource-file src="res/android/values/fpauth-strings.xml" target="res/values/fpauth-strings.xml" />
        <resource-file src="res/android/values-it" target="res/values-it" />
        <resource-file src="res/android/values-es" target="res/values-es" />
        <resource-file src="res/android/values-ru" target="res/values-ru" />
        <resource-file src="res/android/values-fr" target="res/values-fr" />
        <resource-file src="res/android/values-zh" target="res/values-zh" />
        <resource-file src="res/android/values-zh-rCN" target="res/values-zh-rCN" />
        <resource-file src="res/android/values-zh-rHK" target="res/values-zh-rHK" />
        <resource-file src="res/android/values-zh-rMO" target="res/values-zh-rMO" />
        <resource-file src="res/android/values-zh-rSG" target="res/values-zh-rSG" />
        <resource-file src="res/android/values-zh-rTW" target="res/values-zh-rTW" />
        <resource-file src="res/android/values-no" target="res/values-no" />
        <resource-file src="res/android/values-pt" target="res/values-pt" />
        <resource-file src="res/android/values-ja" target="res/values-ja" />
        <resource-file src="res/android/values-de" target="res/values-de" />
        <resource-file src="res/android/values-th" target="res/values-th" />
        <resource-file src="res/android/values-ar" target="res/values-ar" />
        <resource-file src="res/android/values-ko" target="res/values-ko" />
    </platform>

</plugin>
