<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-android-fingerprint-auth"
        version="1.2.7">
    <name>FingerprintAuth</name>
    <description>Cordova plugin to use Android fingerprint authentication API</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,android,fingerprint,authentication</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/FingerprintAuth.js" name="FingerprintAuth">
        <clobbers target="FingerprintAuth" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FingerprintAuth" >
                <param name="android-package" value="com.cordova.plugin.android.fingerprintauth.FingerprintAuth"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
            <!--<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />-->
        </config-file>

        <source-file src="build-extras.gradle" target-dir="." />
        <source-file src="src/android/FingerprintAuth.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <framework src="androidx.biometric:biometric:1.1.0"/>
    </platform>

    <dependency id="cordova-plugin-android-fragmentactivity" version="^2.2.1" />

    <framework src="build-extras.gradle" custom="true" type="gradleReference" />


</plugin>
